---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Hero from "../components/Hero.astro";
import { getCollection } from "astro:content";
import ConcertModal from "../components/ConcertModal.astro";

const concerts = await getCollection("concerts");

const upcoming = concerts
  .filter((concert) => new Date(concert.data.date) >= new Date())
  .sort(
    (a, b) =>
      new Date(a.data.date).getTime() -
      new Date(b.data.date).getTime()
  );

const nextConcert = upcoming[0];
---

<Layout title="Shizzle">
  <NavBar />
  <Hero />
  {nextConcert && <ConcertModal concert={nextConcert} />}

  <main class="p-8" id="concerts">
    {nextConcert && (
      <section class="rounded-2xl border border-white/20 p-6">
        <h2 class="text-2xl font-semibold mb-3">
          Nejbližší koncert
        </h2>

        <p>Město: {nextConcert.data.city}</p>
        <p>Místo: {nextConcert.data.venue}</p>
        <p>Datum: {nextConcert.data.date}</p>
      </section>
    )}
  </main>
</Layout>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const btn = document.getElementById("menu-toggle");
    const menu = document.getElementById("mobile-menu");

    btn?.addEventListener("click", () => {
      menu?.classList.toggle("hidden");
    });
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const modal = document.getElementById("concert-modal");
    const closeBtn = document.getElementById("close-modal");

    if (!modal) return;

    setTimeout(() => {
      modal.classList.remove("hidden");
      modal.classList.add("flex");
    }, 1000);

    closeBtn?.addEventListener("click", () => {
      modal.classList.add("hidden");
      modal.classList.remove("flex");
    });

    modal?.addEventListener("click", (e) => {
      if (e.target === modal) {
        modal.classList.add("hidden");
        modal.classList.remove("flex");
      }
    });
  });
</script>