@import "tailwindcss";

:root {
  /* COLORS */
  --color-background: #0b0f12;
  --color-surface: #121214;
  
  --color-accent: #ff7a3d;
  --color-accent-hover: #ff6a2a;

  --color-primary: #1c2b33;
  --color-secondary: #223843;

  /* TEXT */
  --text-primary: #eaeaea;
  --text-muted: #a0a8ad;

  /* SPACING */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 4rem;

  /* RADIUS */
  --radius-sm: 0.5rem;
  --radius-md: 1rem;
  --radius-lg: 1.5rem;

  /* TYPOGRAPHY */
  --font-base: system-ui, sans-serif;
  --font-heading: system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: var(--color-background);
  color: var(--text-primary);
  font-family: var(--font-base);
}

img,
svg,
video {
  display: block;
  max-width: 100%;
}
