---
import type { CollectionEntry } from "astro:content";

interface Props {
  socials: CollectionEntry<"social">[];
}

const { socials } = Astro.props;
---

<section id="media" class="px-(--space-sm) py-(--space-lg) text-center lg:items-center">
  <div class="mx-auto grid max-w-7xl grid-cols-3 gap-(--space-md) lg:grid-cols-6">
    {socials.map((item) => (
      <a
        href={item.data.url}
        target="_blank"
        rel="noopener noreferrer"
        class="aspect-9/16 overflow-hidden rounded-md transition hover:scale-110"
      >
        <img
          src={item.data.thumbnail}
          alt={item.data.title || "Instagram reel"}
          class="h-full w-full object-cover transition hover:scale-105"
        />
      </a>
    ))}
  </div>
</section>
