---
import type { CollectionEntry } from "astro:content";

interface Props {
  socials: CollectionEntry<"social">[];
}

const { socials } = Astro.props;
---

<section id="media" class="py-(--space-lg)">
  <div class="grid grid-cols-3 md:grid-cols-6 gap-(--space-sm)">
    {socials.map((item) => (
      <a
        href={item.data.url}
        target="_blank"
        rel="noopener noreferrer"
        class="block overflow-hidden rounded-md"
      >
        <img
          src={item.data.thumbnail}
          alt={item.data.title || "Instagram reel"}
          class="w-full h-full object-cover transition hover:scale-105"
        />
      </a>
    ))}
  </div>
</section>